@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
    --background: rgba(0,0,0,255);
    --background2: #303030;
    --amarillo: #eec55a;
    --rojo: #e64210;
    --texto: #F7EFCB;
    --radiante: #ef4a13 #100f0f;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
  }

  body {
    height: 100vh;
    width: 100%;
    min-width: 300px;
  }

header {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  position: absolute;
  top: 0;
  z-index: 2;
}
  
header img {
  height: 40px;
}

nav {
  gap: 150px;
}

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.navbar-list1 {
    
}

.navbar-list1 a {
  
}

main {  
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--texto);
  width: 100%;
  min-width: 320px;
}

#logo {
  margin-top: 100px;
  background-color: var(--background);
}

.hero_cardinfo, img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.hero_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
}

.hero_info h1 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  color: transparent;
}

.hero_info p {
  padding: 70px;
}

.hero_info a {
  background-image: linear-gradient(to right, #16222A 0%, #2d4049 31%, #16222A 100%);  padding: 10px;
  color: var(--texto);
  font-weight: 10px;
  border-radius: 30px;
  font-weight: 100;
}

.hero_img img {
  padding: 10px;
  height: 50%;
  width: 50%;
}

