@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");


/*background: #000000;  /* fallback for old browsers 
background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

:root {
    --background: rgba(0,0,0,255);
    --background2: #303030;
    --amarillo: #eec55a;
    --rojo: #e64210;
    --blanco: #ffffff;
    --radiante: #ef4a13 #100f0f;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background: var(--blanco);
    font-family: "Poppins", sans-serif;
  }

  body {
    height: 100vh;
    width: 100%;
    color: var(--amarillo);
  }

  header {
    height: 80px;
    width: 100%;
    background: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  
  header img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }

  nav {
    background-color: var(--background);
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }

  .navbar-list1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    border-radius: 10px;
}

.navbar-list1 a {
    color: var(--amarillo);
    font-size: 20px;
}

.navbar-list2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    font-size: 25px;
    border-radius: 10px;
}

.navbar-list2 a {
    color: var(--amarillo);
    font-size: 20px;
}

#hero {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  height: 500px;
  width: 100%;
  gap: 20px;
}

.hero_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px; 
}

.hero_info h1 {
  text-align: center;
}

.hero_cardinfo {
  border: solid red;
  display: flex;
  align-items: center;
  width: 80px;
  height: 50px;
}

.hero_cardinfo img {
  display: flex;
  width: 200px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}



